examples/aws-services/data/flows.json
[
    {
        "id": "85c748c1d6056c39",
        "type": "tab",
        "label": "Simple AWS flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5b062ac5357ffef3",
        "type": "amazon config",
        "name": "AWS",
        "region": "eu-west-1",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "6060baf9e1ea2469",
        "type": "AWS IotData",
        "z": "85c748c1d6056c39",
        "aws": "5b062ac5357ffef3",
        "operation": "Publish",
        "endpoint": "acwprzq1nws9h-ats.iot.eu-west-1.amazonaws.com",
        "thingName": "EmeaGGDemo",
        "shadowName": "",
        "topic": "test",
        "nextToken": "",
        "pageSize": "",
        "maxResults": "",
        "qos": "1",
        "retain": "false",
        "payload": "",
        "name": "",
        "x": 820,
        "y": 280,
        "wires": [
            [],
            [
                "4a3a34aff62e6f01"
            ]
        ]
    },
    {
        "id": "a99fc976f1fae05b",
        "type": "AWS Iot",
        "z": "85c748c1d6056c39",
        "aws": "5b062ac5357ffef3",
        "operation": "DescribeEndpoint",
        "certificateId": "",
        "setAsActive": "true",
        "billingGroupName": "",
        "billingGroupArn": "",
        "thingName": "",
        "thingArn": "",
        "thingGroupName": "",
        "thingGroupArn": "",
        "overrideDynamicGroups": "true",
        "targets": "",
        "jobId": "",
        "comment": "",
        "namespaceId": "",
        "policyName": "",
        "target": "",
        "principal": "",
        "securityProfileName": "",
        "securityProfileTargetArn": "",
        "taskId": "",
        "reasonCode": "",
        "force": "true",
        "expectedVersion": "",
        "statusDetails": "",
        "confirmationToken": "",
        "checkName": "",
        "resourceIdentifier": "",
        "expirationDate": "",
        "suppressIndefinitely": "true",
        "description": "",
        "clientRequestToken": "",
        "authorizerName": "",
        "authorizerFunctionArn": "",
        "tokenKeyName": "",
        "tokenSigningPublicKeys": "",
        "status": {},
        "tags": "",
        "signingDisabled": "true",
        "billingGroupProperties": "",
        "certificateSigningRequest": "",
        "metricName": "",
        "displayName": "",
        "metricType": "",
        "name": "",
        "_type": "",
        "stringValues": "",
        "domainConfigurationName": "",
        "domainName": "",
        "serverCertificateArns": "",
        "validationCertificateArn": "",
        "authorizerConfig": "",
        "serviceType": "",
        "thingGroupProperties": "",
        "indexName": "",
        "queryString": "",
        "queryVersion": "",
        "aggregationType": "",
        "period": "",
        "aggregationField": "",
        "unit": "",
        "documentSource": "",
        "document": "",
        "presignedUrlConfig": "",
        "targetSelection": "",
        "jobExecutionsRolloutConfig": "",
        "abortConfig": "",
        "timeoutConfig": "",
        "jobTemplateArn": "",
        "jobTemplateId": "",
        "jobArn": "",
        "actionName": "",
        "roleArn": "",
        "actionParams": "",
        "otaUpdateId": "",
        "protocols": "",
        "awsJobExecutionsRolloutConfig": "",
        "awsJobPresignedUrlConfig": "",
        "awsJobAbortConfig": "",
        "awsJobTimeoutConfig": "",
        "files": "",
        "additionalParameters": "",
        "policyDocument": "",
        "setAsDefault": "true",
        "templateName": "",
        "templateBody": "",
        "enabled": "true",
        "provisioningRoleArn": "",
        "preProvisioningHook": "",
        "roleAlias": "",
        "credentialDurationSeconds": "",
        "frequency": "",
        "dayOfMonth": "",
        "dayOfWeek": "",
        "targetCheckNames": "",
        "scheduledAuditName": "",
        "securityProfileDescription": "",
        "behaviors": "",
        "alertTargets": "",
        "additionalMetricsToRetain": "",
        "additionalMetricsToRetainV2": "",
        "streamId": "",
        "thingTypeName": "",
        "attributePayload": "",
        "parentGroupName": "",
        "thingTypeProperties": "",
        "ruleName": "",
        "topicRulePayload": "",
        "destinationConfiguration": "",
        "deleteScheduledAudits": "true",
        "forceDelete": "true",
        "executionNumber": "",
        "deleteStream": "true",
        "forceDeleteAWSJob": "true",
        "policyVersionId": "",
        "versionId": "",
        "arn": "",
        "targetType": "",
        "targetName": "",
        "undoDeprecate": "true",
        "findingId": "",
        "endpointType": "iot:data-ats",
        "maxResults": "",
        "nextToken": "",
        "bucketsAggregationType": "",
        "cognitoIdentityPoolId": "",
        "percents": "",
        "behaviorCriteriaType": "",
        "listSuppressedAlerts": "true",
        "recursive": "true",
        "marker": "",
        "pageSize": "",
        "startTime": "",
        "endTime": "",
        "listSuppressedFindings": "true",
        "actionStatus": "",
        "auditTaskId": "",
        "taskStatus": "",
        "ascendingOrder": "true",
        "taskType": "",
        "namePrefixFilter": "",
        "caCertificateId": "",
        "violationId": "",
        "thingGroupId": "",
        "actionType": "",
        "otaUpdateStatus": "",
        "dimensionName": "",
        "resourceArn": "",
        "parentGroup": "",
        "reportType": "",
        "attributeName": "",
        "attributeValue": "",
        "usePrefixAttributeValue": "true",
        "topic": "",
        "ruleDisabled": "true",
        "caCertificate": "",
        "verificationCertificate": "",
        "allowAutoRegistration": "true",
        "registrationConfig": "",
        "certificatePem": "",
        "caCertificatePem": "",
        "parameters": "",
        "rejectReason": "",
        "loggingOptionsPayload": "",
        "logTarget": "",
        "logLevel": "",
        "defaultLogLevel": "",
        "disableAllLogs": "true",
        "auditCheckToActionsMapping": "",
        "actions": "",
        "violationEventOccurrenceRange": "",
        "includeOnlyActiveViolations": "true",
        "includeSuppressedAlerts": "true",
        "inputFileBucket": "",
        "inputFileKey": "",
        "authInfos": "",
        "clientId": "",
        "policyNamesToAdd": "",
        "policyNamesToSkip": "",
        "token": "",
        "tokenSignature": "",
        "httpContext": "",
        "mqttContext": "",
        "tlsContext": "",
        "targetAwsAccount": "",
        "transferMessage": "",
        "tagKeys": "",
        "auditNotificationTargetConfigurations": "",
        "auditCheckConfigurations": "",
        "newStatus": "",
        "newAutoRegistrationStatus": "",
        "removeAutoRegistration": "true",
        "domainConfigurationStatus": "",
        "removeAuthorizerConfig": "true",
        "eventConfigurations": "",
        "thingIndexingConfiguration": "",
        "thingGroupIndexingConfiguration": "",
        "defaultVersionId": "",
        "removePreProvisioningHook": "true",
        "deleteBehaviors": "true",
        "deleteAlertTargets": "true",
        "deleteAdditionalMetricsToRetain": "true",
        "removeThingType": "true",
        "thingGroupsToAdd": "",
        "thingGroupsToRemove": "",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "4a3a34aff62e6f01",
                "b0d4d3c2e3e7dbdf"
            ],
            []
        ]
    },
    {
        "id": "1e0cb8b0ada66ad4",
        "type": "inject",
        "z": "85c748c1d6056c39",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "a99fc976f1fae05b",
                "5f4daa72d465af5d"
            ]
        ]
    },
    {
        "id": "4a3a34aff62e6f01",
        "type": "debug",
        "z": "85c748c1d6056c39",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 100,
        "wires": []
    },
    {
        "id": "b0d4d3c2e3e7dbdf",
        "type": "json",
        "z": "85c748c1d6056c39",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "6060baf9e1ea2469"
            ]
        ]
    },
    {
        "id": "5f4daa72d465af5d",
        "type": "http request",
        "z": "85c748c1d6056c39",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://checkip.amazonaws.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "f9cbecef5d3f11e3"
            ]
        ]
    },
    {
        "id": "f9cbecef5d3f11e3",
        "type": "change",
        "z": "85c748c1d6056c39",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ip",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "b0d4d3c2e3e7dbdf"
            ]
        ]
    }
]